TELEGRAM_TOKEN = your_telegram_token
MONGO_USER = your_mongodb_user
MONGO_PASSWORD = your_mongodb_password
MONGODB_URI = mongodb://your_mongodb_user:your_mongodb_password@mongodb:27017/summer-body-bot?authSource=admin
COMPETITION_START_DATE = YYYY-MM-DD
COMPETITION_END_DATE = YYYY-MM-DD

# Allowed dates when user can add points
ALLOWED_DATES = YYYY-MM-DD,YYYY-MM-DD...

# What time to remind users on allowed dates
REMINDER_TIME = hh:mm
REMINDER_MSG = your_message

# Set true if you want to bypass the weekly submit restriction with weekscores
TEST_MODE = false

# Admins' userIDs
ADMINS = 123456789,987654321...